.chat_body{
    display: flex;
}

.sidebar{
    width: 30vw;
    background-color: aqua;
    max-width:30%;

}
.chatspace{
    width: 70vw;
    /* background-color: brown; */
    max-width:70%;
}

.navbar{
    background-color: rebeccapurple;
    height: 12%;
    width: 100%;
    display: flex;
}

.navbar_topleft{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center ;
}
#messages{
    max-height:60% ;
}

.navbar_topright{
    border-left: 5px black solid;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center ;
}

#friends{
    max-height: 60%;
}